* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #aeaeae;
}

.jumbotron {
  background-image: url(../img/concert_crowd_sepiablue.png);
  background-position: 25% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Slabo 27px', serif;
  margin-bottom: 50px;
}

#logo {
  text-shadow: black 0.1em 0.1em 0.1em;
  letter-spacing: 2px;
}

#logo > span {
  margin-right: 10px;
}

#menu {
  vertical-align: middle;
}

#title {
  margin-bottom: 30px;
}

#description {
  margin-top: 30px;
  font-size: 14pt;
}

#image {
  max-height: 370px;
  max-width: 370px;
}

.img-results {
  max-width: 146px;
  max-height: 100px;
  margin: 0 auto;
}

#guess-form {
  margin-top: 50px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

#menu > div:first-child {
  margin-bottom: 8px;
}

#menu > div > a > span {
  margin-left: 10px ;
}

#welldone > span {
  font-size: 140pt;
  color: #aeaeae;
  margin-top: 30px;
  margin-bottom: 30px;
}

#welldone > p > a {
  color: #1a1aff;
}
